VITE_VENDOR_API_URL=http://localhost:5173/api/vendor
VITE_CONTRACT_API_URL=http://localhost:5173/api/contract
VITE_SEARCH_API_URL=http://localhost:5173/api/search
VITE_NOTIFICATION_API_URL=http://localhost:5173/api/notification
VITE_PRS_API_URL=http://localhost:5173/api/prs

